
<!-- Footer -->
<div class="card">
    <div class="card-header bg-dark text-white py-4">
      Capture those important moments; don't let them pass you by.
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
          <p>“What I like about photographs is that they capture a moment that’s gone forever, impossible to reproduce.”</p>
        <footer class="blockquote-footer"><cite title="Source Title">Karl Lagerfeld</cite></footer>
      </blockquote>
    </div>
  </div>
  
    