<!-- Home Page Featured Photo -->
<div class="container">
    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Photography by Bryan
      <small><!--maybe--></small>
    </h1>
    <!-- Portfolio Item Row --> 
    <div class="row">
        <div class="col-md-8">
        <img class="img-fluid" src="https://files.catbox.moe/z18o2w.jpeg" alt="">
        </div>
            <div class="col-md-4">
                {% include 'partials/_feature_copy.html' %}
            </div>
        </div>
    <!-- Recent Projects Row Title-->
    <h3 class="my-4">Recent Blog Posts</h3>
</div>