{% extends 'base.html' %}


{% block content %}

<div class="container my-5">

    <section>
      
      <div class="card mb-4">
        
        <div class="row">
  
          <div class="col-md-6">
            <img class="img-fluid rounded-left" src="https://files.catbox.moe/i0e75w.jpg" alt="project image">
          </div>
  
          <div class="col-md-6 p-5 align-self-center">
  
            <h5 class="font-weight-normal mb-3">Contact Me</h5>
  
            <p class="text-muted">I would love to hear from you, and ensure your next experience is captured into a unique memory.</p>

            <ul class="list-unstyled font-small mt-5 mb-0">
              <li>
                <p class="text-uppercase mb-2"><strong>Phone</strong></p>
                <p class="text-muted mb-4">949-312-5555</p>
              </li>
  
              <li>
                <p class="text-uppercase mb-2"><strong>Email</strong></p>
                <p class="text-muted mb-4">pcabryan@pm.me</p>
              </li>
  
              <li>
                <p class="text-uppercase mb-2"><strong>Telegram</strong></p>
                <p class="text-muted mb-4"><a href="https://t.me/bryan1293/">@bryan1293</a></p>
              </li>
  
              <li>
                <p class="text-uppercase mb-2"><strong>Location</strong></p>
                <p class="text-muted mb-4">Orange County, California</p>
              </li>
  
              <li>
                <p class="text-uppercase mt-4 mb-2"><strong>Follow Me</strong></p>
                <div class="d-flex justify-content-start">
                  <a class="text-muted pr-3" href="https://instagram.com/bryans_1d"><i class="fab fa-instagram"></i><a href="https://instagram.com/bryans_1d"> @bryans_1D</a></a>
                </div>
              </li>
  
            </ul>
  
          </div>
  
        </div>
  
      </div>
  
    </section>
  
  </div>

{% endblock %}
    