{% extends 'base.html' %}


{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Photography by Bryan Borenstein</h1>
        <p class="lead">Hi, and welcome to my photography blog! I love shooting high quality photos of nature, sports, and more!</p>
        <hr class="my-4">
        <p>I have over ten years experience with my Canon 1D, and I'd love to work with you!</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="contact.html" role="button">Contact me!</a>
        </p>
    </div>
{% endblock %}
    
