{% extends 'base.html' %}


{% block content %}

    <!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Photography by Bryan
      <small><!--maybe--></small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8">
        <img class="img-fluid" src="https://files.catbox.moe/z18o2w.jpeg" alt="">
      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Project Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Dolor Sit Amet</li>
          <li>Consectetur</li>
          <li>Adipiscing Elit</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4">Featured Posts</h3>
  
    
  
  </div>
  <!-- /.container -->


    
    <section id="listings" class="py-4">
        <div class="container">
        <div class="row">

            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
                <img class="card-img-top" src="https://files.catbox.moe/pcyp9j.jpg" alt="">
                <div class="card-img-overlay">
                </div>
                <div class="card-body">
                <div class="listing-heading text-center">
                    <h4 class="text-dark">CU Boulder vs CSU Fort Collins</h4>
                    <p><i class="fas fa-th-large text-secondary"></i>Pepsi Center</p>
                    <p><i class="fas fa-map-marker text-secondary"></i> Denver, CO</p>

                </div>
                <hr>
                <div class="row text-secondary pb-2">
                    <div class="col-6">
                    <i class="fas fa-clock"></i> Posted: 2 days ago</div>
                </div>
                <hr>
                <a href="blog.html" class="btn btn-dark btn-block">View Post</a>
                </div>
            </div>
            </div>
            <!-- Listing 2 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="https://files.catbox.moe/gu3a5i.jpg" alt="">
                    <div class="card-img-overlay">
                    </div>
                    <div class="card-body">
                    <div class="listing-heading text-center">
                        <h4 class="text-dark">Boulder Bison vs Cheyenne Stampede</h4>
                        <p><i class="fas fa-th-large text-secondary"></i> Sport Stable</p>
                        <p><i class="fas fa-map-marker text-secondary"></i> Superior, CO</p>

                    </div>
                    <hr>
                    <div class="row text-secondary pb-2">
                        <div class="col-6">
                        <i class="fas fa-clock"></i> Posted: 2 days ago</div>
                    </div>
                    <hr>
                    <a href="blog.html" class="btn btn-dark btn-block">View Post</a>
                    </div>
                </div>
                </div>        
            <!-- Listing 3 -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="https://files.catbox.moe/51gvrf.jpg" alt="">
                    <div class="card-img-overlay">
                    </div>
                    <div class="card-body">
                    <div class="listing-heading text-center">
                        <h4 class="text-dark">F-22 Raptor</h4>
                        <p><i class="fas fa-th-large text-secondary"></i>MCAS Miramar</p>
                        <p><i class="fas fa-map-marker text-secondary"></i> San Diego, CA</p>

                    </div>
                    <hr>
                    <div class="row text-secondary pb-2">
                        <div class="col-6">
                        <i class="fas fa-clock"></i> Posted: 2 days ago</div>
                    </div>
                    <hr>
                    <a href="blog.html" class="btn btn-dark btn-block">View Post</a>
                    </div>
                </div>
                </div>                            
        </section>
{% endblock %}
    
