{% extends 'base.html' %}

{% block content %}
<div class="container">
  <!-- Page Heading -->
  <h1 class="my-4">
    Featured Blog Posts
  </h1>
    <!-- All Projects Contained Here | Fetched via Context Variable -->
    {% if postings %}
      <!-- Loop Through postings_posting Postgres Table and Display Dynamic Values -->    
      {% for posting in postings %}
        <div class="row">
          <div class="col-md-7">      
            <a href="{% url 'posting' posting.id %}">
              <img class="img-fluid rounded mb-3 mb-md-0" src="{{ posting.photo_main.url }}" alt="">
            </a>
          </div>
          <div class="col-md-5">
            <h3>{{ posting.title }}</h3>
              <p>{{ posting.description }}</p>
          </div> 
        </div>
        <!-- Hard Break Styling -->
        <hr>
      {% endfor %}
      <!-- If None Exist, Return This-->
      {% else %}
        <div class="col-md-12">
          <p>No Postings!</p>
        </div>
      {% endif %}
</div>
{% endblock %}
    